.DS_Store

__pycache__/
*.pyc

build/
dist/

wordle_stats.json
XXXwordle_stats.json# Python files

__pycache__/
*.pyc
*.pyo

# macOS files
.DS_Store

# Temporary editor files
*~

# Personal files
GitHubToken
*.token

# Virtual environments
venv/
.env